/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self

*/

$axis-primary: #E94953;

svg {
  height: 350px;
  width: 100%;

  g.axis path, g.axis line {
      fill: none;
      stroke: red;
  }
  g.axis text, g.bubbles text {
      fill: royalblue;
      font-family: sans-serif;
  }

  g.bubbles line {
      stroke-width:5;
      stroke: $axis-primary;
  }

  g.bubbles circle {
      fill: none;
      stroke:rgb(255,0,64);
      stroke-width:2;
  }
  g.bubbles text {
      text-anchor:middle;
      alignment-baseline:middle;
      opacity:0;
      pointer-events:all;
      transition:1s;
  }
  g.bubbles text:hover {
      opacity:1;
  }

  g.threads line {
      fill:none;
      stroke:navy;
      opacity:0.5;
  }

}

#artist-test {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px black;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("http://poly-graph.co/css/aesop.png");

  &:hover {
    border-color: $axis-primary;
  }
}
