---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=149d191bd608cad5f6422c0d38799077&format=json&limit=5&method=user.gettopartists&period=7day&user=gopigasus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[{"name":"Hop Along","playcount":"20","mbid":"91640d9b-b077-4271-9fb7-84f3ea543f24","url":"http://www.last.fm/music/Hop+Along","streamable":"0","image":[{"#text":"http://img2-ak.lst.fm/i/u/34s/618c91a86a0850dfabe861ee96e380bf.png","size":"small"},{"#text":"http://img2-ak.lst.fm/i/u/64s/618c91a86a0850dfabe861ee96e380bf.png","size":"medium"},{"#text":"http://img2-ak.lst.fm/i/u/174s/618c91a86a0850dfabe861ee96e380bf.png","size":"large"},{"#text":"http://img2-ak.lst.fm/i/u/300x300/618c91a86a0850dfabe861ee96e380bf.png","size":"extralarge"},{"#text":"http://img2-ak.lst.fm/i/u/618c91a86a0850dfabe861ee96e380bf.png","size":"mega"}],"@attr":{"rank":"1"}},{"name":"Willie
        Watson","playcount":"9","mbid":"6310db9e-f2c7-4e76-8af4-e56905993482","url":"http://www.last.fm/music/Willie+Watson","streamable":"0","image":[{"#text":"http://img2-ak.lst.fm/i/u/34s/c354e9aeb88444d9c49b41771cca6ad7.png","size":"small"},{"#text":"http://img2-ak.lst.fm/i/u/64s/c354e9aeb88444d9c49b41771cca6ad7.png","size":"medium"},{"#text":"http://img2-ak.lst.fm/i/u/174s/c354e9aeb88444d9c49b41771cca6ad7.png","size":"large"},{"#text":"http://img2-ak.lst.fm/i/u/300x300[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=149d191bd608cad5f6422c0d38799077&format=json&limit=5&method=user.gettopartists&period=1month&user=gopigasus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[{"name":"Kevin Devine","playcount":"48","mbid":[...]
[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=149d191bd608cad5f6422c0d38799077&format=json&limit=5&method=user.gettopartists&period=overall&user=gopigasus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[{"name":"Bob Dylan","playcount":"2375","mbid":[...]
