---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=149d191bd608cad5f6422c0d38799077&format=json&limit=10&method=user.gettopartists&period=overall&user=gopigasus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topartists":{"artist":[{"name":"Bob Dylan","playcount":"2375","mbid":"72c536dc-7137-4477-a521-567eeb840fa8","url":"http://www.last.fm/music/Bob+Dylan","streamable":"0","image":[{"#text":"http://img2-ak.lst.fm/i/u/34s/3329a821aec144ce94f93715743ea07d.png","size":"small"},{"#text":"http://img2-ak.lst.fm/i/u/64s/3329a821aec144ce94f93715743ea07d.png","size":"medium"},{"#text":"http://img2-ak.lst.fm/i/u/174s/3329a821aec144ce94f93715743ea07d.png","size":"large"},{"#text":"http://img2-ak.lst.fm/i/u/300x300/3329a821aec144ce94f93715743ea07d.png","size":"extralarge"},{"#text":"http://img2-ak.lst.fm/i/u/3329a821aec144ce94f93715743ea07d.png","size":"mega"}],"@attr":{"rank":"1"}},{"name":"Tom
        Waits","playcount":"1206","mbid":"c3aeb863-7b26-4388-94e8-5a240f2be21b","url":"http://www.last.fm/music/Tom+Waits","streamable":"0","image":[{"#text":"http://img2-ak.lst.fm/i/u/34s/706866dba74c49f3a4dfa6d1dc3e4d21.png","size":"small"},{"#text":"http://img2-ak.lst.fm/i/u/64s/706866dba74c49f3a4dfa6d1dc3e4d21.png","size":"medium"},{"#text":"http://img2-ak.lst.fm/i/u/174s/706866dba74c49f3a4dfa6d1dc3e4d21.png","size":"large"},{"#text":"http://img2-ak.lst.fm/i/u/300x300/7068[...]
[...]
