---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=149d191bd608cad5f6422c0d38799077&format=json&method=user.getinfo&user=gopigasus
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"user":{"name":"gopigasus","image":[{"#text":"http://img2-ak.lst.fm/i/u/34s/3986da997db38257ff069000e7467d32.png","size":"small"},{"#text":"http://img2-ak.lst.fm/i/u/64s/3986da997db38257ff069000e7467d32.png","size":"medium"},{"#text":"http://img2-ak.lst.fm/i/u/174s/3986da997db38257ff069000e7467d32.png","size":"large"},{"#text":"http://img2-ak.lst.fm/i/u/300x300/3986da997db38257ff069000e7467d32.png","size":"extralarge"}],"url":"http://www.last.fm/user/gopigasus","country":"","age":"0","gender":"n","subscriber":"0","playcount":"46447","playlists":"0","bootstrap":"0","registered":{"#text":1219632398,"unixtime":"1219632398"},"type":"user"}}'
  recorded_at: Wed, 06 Apr 2016 12:42:16 GMT
recorded_with: VCR 2.5.0
