---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=149d191bd608cad5f6422c0d38799077&format=json&method=user.getinfo&user=idonotexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"user":{"name":"idonotexist","image":[{"#text":"","size":"small"},{"#text":"","size":"medium"},{"#text":"","size":"large"},{"#text":"","size":"extralarge"}],"url":"http://www.last.fm/user/idonotexist","country":"","age":"0","subscriber":"0","playcount":"11","playlists":"0","bootstrap":"0","registered":{"#text":1154365879,"unixtime":"1154365879"},"type":"user"}}'
  recorded_at: Wed, 06 Apr 2016 12:42:16 GMT
recorded_with: VCR 2.5.0
