<div class="topbar clearfix">

  <div class="nav sticky">
    <h1 id="logo small">MUSICABULARY</h1>

   <% if current_user %>
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: [:button, :sign_out] %>
    <% else %>
      <%= button_to "Sign In", user_lastfm_omniauth_authorize_path, method: :get, class: "button sign-in" %>
    <% end %>

    </div>
  </div>

</div>
